
<ul class="nav nav-pills navbar-inverse">
  <a href="/" class="navbar-brand"><img width="30" height="30" src="/img/reddit-logo.png" alt="">
  </a>
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="about">About</a></li>
</ul>



<div class="container">

  <div class="jumbotron">
    <h1>Tech Reddit</h1>
  </div>
  {{outlet}}
<!-- <div class="bg-img"></div> -->

  <footer id="footer">
    <div class="container-fluid">
      <a style="color: black;" href="https://github.com/jaybones90"><br>View Github Profile<br><img class="logo" src="/img/github-logo.png" alt=""/></a>
    </div>
  </footer>

</div>
